body {
  display: flex;
}

#game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
}

#sky {
  width: 500px;
  height: 580px;
  background-image: url("../images/background.png");
  position: absolute;
}

#ground {
  width: 500px;
  height: 150px;
  background-image: url("../images/ground.png");
  top: 580px;
  position: absolute;
  z-index: +1;
}

#bernie {
  background-image: url("../images/bernie.png");
  width: 60px;
  height: 80px;
  position: absolute;
}

#side-bar {
  width: 300px;
  height: 730px;
  position: absolute;
  left: 660px;
}

.pipe {
  background-image: url("../images/pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topPipe {
  background-image: url("../images/pipe.png");
  transform: rotate(180deg);
  width: 60px;
  height: 200px;
  position: absolute;
}

#border-left {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

#border-right {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}

#border-top {
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -50px;
} 
